* { /* Сброс всего необходимого */
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}
body { background-color: gray; }
#webLogo {
    width: 800px;
    margin: auto;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}
.foot {   
    font-weight: normal;
    font-family: Georgia;
    font-style: normal; 
    font-size: 80%;
    width: 800px;
    padding: 5px;
    margin:0 auto;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
#png {
    float: left;
    padding:0 20px 0 0;
}
.navigation {
    clear: both;
    padding: 0 200px 20px;
    position: relative;
}
h1 {    
    padding: 30px 0 0 0; 
    font-weight: 900;
    font-family: Times New Roman;
    font-style: normal; 
    font-size:xx-large;    
}
h3 {
    font-size: large;    
}
h2 {
    font-size: x-large;   
}
h2, h3 {
    padding:10px 0;
    font-weight: bold;
}
.meedle, .meedle1 {
    width: 800px;
    margin: auto;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    font-weight: normal;
    font-family: Arial;
    font-style: normal; 
    font-size: 100%;    
}
.meedle1 {
    text-align: justify;
}
.infa {
    float: right;
    width: 30%;
    margin: 2px 2px 2px 8px;
    padding: 5px;
    background-color: silver;
    border-radius: 10px;
    text-align: justify;
}
#navigation, #navigation1 {
    list-style-type: none;
    position: absolute;
    font-family: Times New Roman;
   }
#navigation1 {
    display: none;
    background-color: white;
    border-radius: 6px;
    border: black solid 0.5px;
    padding: 5px;
    top: 90%;
    left: 0;
}
#tech:hover #navigation1 {
    display: inline;
}
#navigation>li {
    display: inline;    
}
#tech {
    position: relative;    
}
#navigation {
    display: inline;
} 
.technologies {
    padding: 0 40px;
}
.calc { 
    margin: 0 auto;     
}
table {
    width: 280px;
    height: 180px;
}
button {
    width: 100%; 
    height: 100%;    
    border: 2px outset buttonface;
    background: #c0c0c0;    
    font-size: 13px;
    font-weight: normal;
    color: #000;
    text-align: center;
    border: solid 1px #808080;
    cursor: pointer;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: 
    -moz-linear-gradient(0% 100% 90deg, #c0c0c0, #ffffff);
    background: 
    -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#c0c0c0));    
}
button[name="result"] {
    width: 80px;    
}
button:active {
background: #ffffff; 
background: -moz-linear-gradient(0% 100% 90deg, #ffffff, #c0c0c0);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c0c0c0), to(#ffffff));
box-shadow: inset 0px 0px 0 0 #000000;
-moz-box-shadow: inset 0px 0px 0 0 #000000;
-webkit-box-shadow: inset 2px 2px 0 0 #000000;
}
button:hover { 
background: #ffffff; 
background: -moz-linear-gradient(0% 100% 90deg, #ffffff, #c0c0c0);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c0c0c0), 
to(#ffffff));
}
.text {
    width: 276px; 
    height: 33px;
    border: 2px inset buttonface;
    font-size: x-large; 
    vertical-align: middle;
}
#row2 {   
    height:65px;  
    vertical-align: middle;
}
.row2 {
    display: table-cell;
    position: relative;    
    width: 100%;
    height:102%;
}    

td {
    width: 47px; 
    height: 33px;   
}
#mail {
    font-style: italic;
}
kbd, #smaller {
    font-size: smaller;
}
i, em, dfn {
    font-style: italic;
}
strong, b {
    font-weight: bolder;
}
